<%- include('header') %>
<style>
    #customHead{
        background-color: rgba(128, 80, 250,0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<div class="container">
    <% for(let ans of answers){ %>
    <div class="questContainer row">

        <div class="col-sm-12">

            <div class="card w-100" style="margin-top: 14px;">

                <div class="card-body" style="height: auto; margin-bottom: 20px;">

                    <h5 class="card-title"> <%= ans.question %></h5>
                    <p>
                        <% for(let cat of ans.category){ %>
                        <span class="badge badge-light">
                            <%= cat %>
                        </span>
                        <% } %>
                    </p>

                    <span>
                        <a data-toggle="collapse" href="#v-<%= ans._id %>" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="fa fa-caret-down" aria-hidden="true"></i> <span class="replyAns">View Answers</span>
                        </a>
                    </span>
                    &nbsp;&nbsp;
                    <span>
                        <a data-toggle="collapse" href="#v1-<%= ans._id %>" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="fa fa-reply" aria-hidden="true"></i> <span class="replyAns">Reply</span>
                        </a>
                    </span>
                    <% if(ans.answer.length==0){ %>
                        <br>
                    Be the first one to answer this one!
                    <% } %>
                    <% for(let sub_ans of ans.answer){ %>
                    <div class="collapse lapse1" id="v-<%= ans._id %>">
                        <div class="col-sm-12">
                            <div class="card-campus w-100">
                                <div class="card-body-campus">
                                    <h5 class="card-title"></h5>
                                    <% if(sub_ans.name==" "){ %>
                                    <b class="mx-2">anonymous</b>
                                    <% } %>
                                    <b class="mx-2"><%= sub_ans.name %></b>
                                    <% if(sub_ans.campus=="Vellore"){  %>
                                    <span class="badge badge-success">Vellore</span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Chennai"){  %>
                                    <span class="badge badge-primary">Chennai</span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Bhopal"){  %>
                                    <span class="badge badge-danger">Bhopal</span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Amravati"){  %>
                                    <span class="badge badge-warning">Amravati</span>
                                    <% } %>
                                    </h5>
                                    <p class="mx-4 my-2"><b><%= sub_ans.ans %></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <style>
                        .form-control-1 {
                            height: 35px;
                        }
                    </style>


                    <div class="collapse lapse1 my-2" id="v1-<%= ans._id %>">
                        <form action="/update_ans/<%= ans._id %>" method="POST">
                            <div class="row">
                                <div class="col-12 col-md-4 my-1">
                                    <input type="text" placeholder="First name" class="form-control form-control-1"
                                        name="name_first">
                                </div>

                                <div class="col-12 col-md-4 my-1">
                                    <input type="text" placeholder="Last name" class="form-control form-control-1"
                                        name="name_last">
                                </div>
                                <div class="form-group mx-3 my-1">
                                    <select id="inputCampus" class="form-control form-control-1" name="campus_name">
                                        <option selected>Vellore</option>
                                        <option>Chennai</option>
                                        <option>Bhopal</option>
                                        <option>Amravati</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" rows="8" placeholder="add your thoughts here....."
                                        name="ans_here"></textarea>
                                    <input type="submit" class="submitQuest btn btn-light my-1" />
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
</div>
</div>
</div>
</div>
<%- include('footer') %>