<%- include('header') %>
<!-- <script>
    $(document).onload(()=>{
        $(window).scroll(0,10);
    });
</script> -->

<div class="container">
    <div class="questContainer row">
        <% for(let ans of answers){ %>
        <div class="col-sm-12">
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body" style="height: auto; margin-bottom: 20px;">
                    <h5 class="card-title"> <%= ans.question %></h5>
                    <% for(let cat of ans.category){ %>
                    <span class="badge badge-light">
                        <%= cat %>
                    </span>
                    <% } %>
                    <p class="card-text">Answered by: anonymous</p>
                    <span>
                        <a data-toggle="collapse" href="#v-<%= ans._id %>" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View
                        </a>
                    </span>
                    &nbsp;&nbsp;
                    <span>
                        <a data-toggle="collapse" href="#v1-<%= ans._id %>" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            Add
                        </a>
                    </span>
                    <% if(ans.answer.length==0){ %>
                        Be the first one to answer this question!!
                    <% } %>
                    <% for(let sub_ans of ans.answer){ %>
                    <div class="collapse lapse1" id="v-<%= ans._id %>">
                        <div class="col-sm-12">
                            <div class="card-campus w-100" style="margin-top: 14px;">
                                <div class="card-body-campus" style="height: auto; margin-bottom: 20px;">
                                    <h5 class="card-title-campus"> <%= sub_ans.name %><p class="campus-name"><%= sub_ans.campus %></p> </h5>
                                    <% if(sub_ans.campus=="Vellore"){  %>
                                        <span class="badge badge-success"><p class="campus-badge-text">Vit Vellore</p></span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Chennai"){  %>
                                        <span class="badge badge-primary"><p class="campus-badge-text">Vit Chennai</p></span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Bhopal"){  %>
                                        <span class="badge badge-danger"><p class="campus-badge-text">Vit Bhopal</p></span>
                                    <% } %>
                                    <% if(sub_ans.campus=="Amravati"){  %>
                                        <span class="badge badge-warning"><p class="campus-badge-text">Vit Amravati</p></span>
                                    <% } %>

                                    <%= sub_ans.ans %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>


                    <div class="collapse lapse1" id="v1-<%= ans._id %>">

                        <form action="/update_ans/<%= ans._id %>" method="POST">
                            <div class="row">
                                <div class="col">
                                    <input type="text" placeholder="First name" name="name_first">
                                </div>
                                <div class="col">
                                    <input type="text" placeholder="Last name" name="name_last">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="inputState">Campus</label>
                                <select id="inputState" class="" name="campus_name">
                                    <option selected>Vellore</option>
                                    <option>Chennai</option>
                                    <option>Bhopal</option>
                                    <option>Amravati</option>
                            </div>

                            <textarea class="form-control" id="forppp" rows="8"
                                placeholder="add your thoughts here....." name="ans_here"></textarea>
                            <input type="submit" />
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</div>
</div>
<%- include('footer') %>