<%- include('header') %>
<div class="container">
    <h1>Super-User Panel</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Question id</th>
                <th scope="col">Question</th>
                <th scope="col">Tags</th>
                <th scope="col">Date</th>
                <th scope="col">Edit</th>
                <th scope="col">
                    <div class="btn btn-light">Delete</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% for (ques of all_ques){ %>
                <th><%=ques._id%></th>
                <td><%=ques.question%></td>
                <td><%=ques.category%></td>
                <td>24/7/2020</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal-<%=ques._id%>">
                        Edit
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-<%=ques._id%>" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel"><b>Question: </b><%=ques.question%>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" rows="12"
                                        placeholder="Your Answer here" name="<%=ques._id%>"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="/i-super-user/<%=ques._id%>" method="POST">
                                        <button type="Submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Modal ends here -->
                </td>
                <td>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remove</label>
                    </div>
                </td>
            </tr>
            <tr>
                <% } %>
        </tbody>
    </table>
</div>
<%- include('footer') %>