<%- include('header') %>
<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
    window.setInterval(function () {
        $('#customHead').css("background-color", "rgba(26, 39, 228, 0.726)");
        $('#customHead').css("box-shadow", "0 2px 4px 0 black");
    }, 10);
</script>


<div class="container">
    <div class="questContainer row">
        <% for(let ans of show_me){ %>
        <div class="col-sm-12">

            <div class="card w-100" style="margin-top: 14px;">

                <div class="card-body" style="height: auto; margin-bottom: 20px;">
                    <span>
                        <h5 class="card-title"><%= ans.question %> </h5>
                    </span>

                    <p>
                        <% for(let cat of ans.category){ %>
                        <span class="badge badge-light">
                            <%= cat %>
                        </span>
                        <% } %>
                    </p>

                    <% for(let sub_ans of ans.answer){ %>

                    <h5 class="card-title"></h5>
                    <% if(sub_ans.name==" "){ %>
                    <b class="mx-2">anonymous</b>
                    <% } %>
                    <b class="mx-2"><%= sub_ans.name %></b>
                    <% if(sub_ans.campus=="Vellore"){  %>
                    <span class="badge badge-success">Vellore</span>
                    <% } %>
                    <% if(sub_ans.campus=="Chennai"){  %>
                    <span class="badge badge-primary">Chennai</span>
                    <% } %>
                    <% if(sub_ans.campus=="Bhopal"){  %>
                    <span class="badge badge-danger">Bhopal</span>
                    <% } %>
                    <% if(sub_ans.campus=="Amravati"){  %>
                    <span class="badge badge-warning">Amravati</span>
                    <% } %>
                    </h5>

                    <p class="mx-4 my-2"><b><%= sub_ans.ans %></b></p>

                    <a class="mx-4 my-2" href="<%= sub_ans.link %>" target="_blank"><u><%= sub_ans.link %></u></a>

                    <hr>
                    <% }} %>

                </div>
            </div>
        </div>
    </div>
</div>





<%- include('footer') %>