<%- include('header') %>
<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
    window.setInterval(function () {
        $('#customHead').css("background-color", "rgba(26, 39, 228, 0.726)");
        $('#customHead').css("box-shadow", "0 2px 4px 0 black");
    }, 10);
</script>


<div class="container">
    <div class="questContainer row">
        <% for(let ans of showme){ %>
        <div class="col-sm-12">

            <div class="card w-100" style="margin-top: 14px;">

                <div class="card-body" style="height: auto; margin-bottom: 20px;">
                    <span>
                    <h5 class="card-title"><%= ans.question %>  <a class="btn btn-primary submitQuest" style="float:right;"href="/">Ask a Question</a></h5>
                    </span>

                    <p>
                        <% for(let cat of ans.category){ %>
                        <span class="badge badge-light">
                            <%= cat %>
                        </span>
                        <% } %>
                    </p>

                    <span>
                        <a data-toggle="collapse" href="#v1-<%= showme[0]._id %>" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="fa fa-reply" aria-hidden="true"></i> <span class="replyAns">Reply</span>
                        </a>
                    </span>

                    <% for(let sub_ans of ans.answer){ %>

                    <h5 class="card-title"></h5>
                    <% if(sub_ans.name==" "){ %>
                    <b class="mx-2">anonymous</b>
                    <% } %>
                    <b class="mx-2"><%= sub_ans.name %></b>
                    <% if(sub_ans.campus=="Vellore"){  %>
                    <span class="badge badge-success">Vellore</span>
                    <% } %>
                    <% if(sub_ans.campus=="Chennai"){  %>
                    <span class="badge badge-primary">Chennai</span>
                    <% } %>
                    <% if(sub_ans.campus=="Bhopal"){  %>
                    <span class="badge badge-danger">Bhopal</span>
                    <% } %>
                    <% if(sub_ans.campus=="Amravati"){  %>
                    <span class="badge badge-warning">Amravati</span>
                    <% } %>
                    </h5>

                    <p class="mx-4 my-2"><b><%= sub_ans.ans %></b></p>

                    <a class="mx-4 my-2" href="<%= sub_ans.insta %>" target="_blank"><u>My Instagram Handle</u></a>

                    <a class="mx-4 my-2" href="<%= sub_ans.link %>" target="_blank"><u><%= sub_ans.link %></u></a>

                    <hr>
                    <% }} %>
                </div>

                <style>
                    .form-control-1 {
                        height: 35px;
                    }
                </style>


                <div class="collapse lapse1 my-2" id="v1-<%= showme[0]._id %>" style="margin: 10px;">
                    <form action="/update_ans/<%= showme[0]._id %>" method="POST">
                        <div class="row">
                            <div class="col-12 col-md-4 my-1">
                                <input type="text" placeholder="Name (optional)" class="form-control form-control-1"
                                    name="name_first">
                            </div>

                            <!-- <div class="col-12 col-md-4 my-1">
                                <input type="text" placeholder="Last name" class="form-control form-control-1"
                                    name="name_last">
                            </div> -->

                            <div class="col-12 col-md-4 my-1">
                                <input type="text" placeholder="instagram link(optional)" class="form-control form-control-1"
                                    name="insta_handle">
                            </div>

                            <div class="form-group mx-3 my-1">
                                <select id="inputCampus" class="form-control form-control-1" name="campus_name">
                                    <option selected>Vellore</option>
                                    <option>Chennai</option>
                                    <option>Bhopal</option>
                                    <option>Amravati</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="8" placeholder="add your thoughts here....."
                                    name="ans_here"></textarea>
                                <input type="url" class="form-control form-control-1" name="imp_link"
                                    style="margin-top: 6px;" placeholder="you can add any url here...">
                                <input type="submit" class="submitQuest btn btn-light my-1" />
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<%- include('footer') %>
